BackEnd/backend/myenv
BackEnd/backend/*/__pycache__
BackEnd/backend/db.sqlite3
.vscode
BackEnd/backend/*/migrations
db_sql/db/*
db_nosql/db/*
FrontEnd/node_modules
FrontEnd/.angular
BackEnd/logAnalysis/models/*
BackEnd/logAnalysis/logs/*
BackEnd/logAnalysis/tmp/*
BackEnd/logAnalysis/__pycache__
video
