<section class="min-vw-100 min-vh-100" style="background-color: #050a30;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-12">
        <div class="card rounded-3 text-black pb-4">
          <div class="row g-0">
            <div class="pt-3 pb-1 px-5 d-md-flex align-items-center justify-content-between">
              <img src="assets/images/OLOK_cropped_2.png" style="width: 150px;" alt="logo">
              <div>
                <img src="assets/images/user.png" style="width: 60px; cursor: pointer;" alt="user" routerLink="/profile">
              </div>
            </div>
            <div class="text-center">
              <hr>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
              <div class="card-body p-3 md-2 text-center">
                <div *ngFor="let bunchOfKey of bunchOfKeys">
                  <p>{{ bunchOfKey[0].name }}</p>
                  <p>{{ bunchOfKey[0].description }}</p>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateBunchOfKeyModal" (click)="selectBunchOfKeyForUpdate(bunchOfKey)">
                    Update
                  </button>
                </div>
                <!-- Update Bunch Of Key Modal -->
                <div class="modal fade" id="updateBunchOfKeyModal" tabindex="-1" aria-labelledby="updateBunchOfKeyModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form [formGroup]="updateBunchOfKeyModalForm" (submit)="updateBunchOfKey()">
                        <div class="modal-header">
                          <h5 class="modal-title" id="updateBunchOfKeyModalLabel">Update Bunch Of Key</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" required formControlName="name">
                          </div>
                          <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" required formControlName="description">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-primary">Update</button>
                          <button type="button" class="btn btn-danger" (click)="deleteBunchOfKey(bunchOfKeyToUpdate)">Delete</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createBunchOfKeyModal">
                  Create Bunch of Key
                </button>
                <!-- Modal -->
                <div class="modal fade" id="createBunchOfKeyModal" tabindex="-1" aria-labelledby="createBunchOfKeyModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form [formGroup]="createBunchOfKeyModalForm" (submit)="createBunchOfKey()">
                        <div class="modal-header">
                          <h5 class="modal-title" id="createBunchOfKeyModalLabel">Add New Key</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="name2" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name2" required formControlName="name">
                          </div>
                          <div class="mb-3">
                            <label for="description2" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description2" required formControlName="description">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 border-start d-flex align-items-center">
              <div class="card-body p-3 md-2 text-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addKeyModal">
                  Add Key
                </button>
                <!-- Modal -->
                <div class="modal fade" id="addKeyModal" tabindex="-1" aria-labelledby="addKeyModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form [formGroup]="addKeyForm" (submit)="onSubmit()">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addKeyModalLabel">Add New Key</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="domain" class="form-label">Domain</label>
                            <input type="text" class="form-control" id="domain" required formControlName="domain">
                          </div>
                          <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" required formControlName="username">
                          </div>
                          <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" required formControlName="password">
                          </div>
                          <div class="mb-3">
                            <label for="bunchOfKeysId" class="form-label">Bunch of Keys</label>
                            <select class="form-select" id="bunchOfKeysId" formControlName="bunchOfKeysId">
                              <option *ngFor="let bunchOfKey of bunchOfKeys" [value]="bunchOfKey[0].bunchOfKeysId">
                                {{ bunchOfKey[0].name }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="password-key" *ngFor="let key of bunchOfKeys">
                  <div class="domain">{{ key[0].keys[0].domain }}</div>
                  <div class="username">{{ key[0].keys[0].username }}</div>
                  <div class="password">{{ key[0].keys[0].password }}</div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
